{% extends 'iframe_base.html' %}

{% block content %}

<div class="w-100">
	<div
		class="col-12 content-area p-0"
		style="flex-grow: 1; transition: width 0.3s ease-in-out; overflow: hidden">
		<div class="container-fluid p-4">
			<!-- Page Header -->
			<div class="page-header mb-4">
				<div class="row align-items-center">
					<div class="col">
						<h1 class="page-title">Configuration Management</h1>
						<p class="page-subtitle">Manage system configuration settings</p>
					</div>
					<div class="col-auto">
					</div>
				</div>
			</div>

			<!-- Configuration Table -->
			<div class="card custom-card">
				<div class="table-responsive">
					<table class="table custom-table" id="configTable">
						<thead>
							<tr>
								<th>Type</th>
								<th>Key</th>
								<th>Value</th>
							</tr>
						</thead>
						<tbody id="config-tbody">
							{% if configs %} {% for config in configs %}
							<tr>
								<td>{{ config.type }}</td>
								<td>{{ config.key }}</td>
								<td>{{ config.value }}</td>
								<!-- <td>
									<div class="actions"></div>
								</td> -->
							</tr>
							{% endfor %} {% else %}
							<tr>
								<td colspan="4" class="text-center">
									No configurations found.
								</td>
							</tr>
							{% endif %}
						</tbody>
					</table>
				</div>

				<!-- Pagination -->
			</div>
		</div>
	</div>
</div>

{% endblock %}
