
<!-- Message Box -->
<div id="messageBox" class="message-box hidden">
	<div class="message-header">
		<span>Thông báo</span>
		<div style="margin-left: auto; display: flex; gap: 5px">
			<button
				class="btn-toggle"
				onclick="clearAllNotifications()"
				title="Xóa tất cả">
				<i class="fas fa-trash-alt"></i>
			</button>
		</div>
	</div>
	<div class="message-content" id="messageContent">
		<!-- Các thông báo sẽ được thêm ở đây bằng JS -->
	</div>
</div>

<!--  icon chuông -->
<button
	id="toggleButton"
	class="notify-icon-btn"
	onclick="toggleBox()"
	title="Hiển thị thông báo">
	<i class="fas fa-bell "></i>
</button>

<script>
    
</script>
