{% extends 'base.html' %}
{% block content %}
  <div class="flex-grow-1 overflow-hidden">
    {% if selected_route == '/dashboard' %}
      <iframe id="dash_board" src="/dashboard" width="100%" height="100%" style="border: none;"></iframe>
    {% elif selected_route == '/userprofile' %}
      <iframe id="user_profile" src="/user_profile" width="100%" height="100%" style="border: none;"></iframe>
    {% elif selected_route.startswith('/echarts/') %}
      <iframe id="echarts" src="{{ selected_route }}" width="100%" height="100%" style="border: none;"></iframe>
    {% else %}
      <iframe id="dash_board" src="/dashboard" width="100%" height="100%" style="border: none;"></iframe>
    {% endif %}
  </div>
{% endblock %}
